* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2.3fr 2fr 30px;
    grid-template-rows: 75px 400px 60px;
    grid-template-areas: 'nav nav nav'
        'konten imgkonten medsos'
        'menu menu menu';
    width: 90%;
    height: 100vh;
    /* border: 2px solid #000; */
    margin: auto;
}

/* navbar */
.nav {
    /* background-color: bisque; */
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav .logo img {
    width: 70px;
    height: auto;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 45%;
    justify-content: space-between;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: coral;
    overflow: hidden;
    position: relative;
    height: 20px;
    display: block;
    text-transform: uppercase;
}

.nav ul li a span {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.nav ul li a span:nth-child(1) {
    color: coral;
}

.nav ul li a span:nth-child(2) {
    color: blueviolet;
}

.nav ul li:hover a span:nth-child(1) {
    transform: translateY(-100%);
}

.nav ul li:hover a span:nth-child(2) {
    transform: translateY(-100%);
}


/* konten */
.konten {
    /* background-color: burlywood; */
    grid-area: konten;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.konten h2 {
    font-size: 3em;
    color: #333;
    letter-spacing: 1px;
    font-weight: 500;
}

.konten h2 span {
    color: #017143;
    font-weight: 600;
}

.konten p {
    font-size: 1.1em;
    color: #333;
}

.konten a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #017143;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}


/* gambar konten */
.imgkonten {
    /* background-color: coral; */
    grid-area: imgkonten;
    display: flex;
    justify-content: center;
    position: relative;
}

.imgkonten img {
    width: 430px;
    height: auto;
}


/* media sosial */
.medsos {
    /* background-color: greenyellow; */
    grid-area: medsos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.medsos ul li {
    list-style: none;
    margin: 15px 0;
    filter: invert(1);
}

.medsos ul li a img {
    width: 25px;
}


/* pilihan menu */
.menu {
    /* background-color: indianred; */
    grid-area: menu;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 10px;
    list-style: none;
    transition: all 0.5s;
}

.menu ul li img {
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.menu ul li:hover img {
    transform: translateY(-20px);
    /* background-color: rgb(250, 237, 116); */
}

/* Circle */
.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #017143;
    box-sizing: border-box;
    top: 0;
    left: 0;
    clip-path: circle(650px at right 800px);
}

/* Menu Toggle */
.menu-toggle {
    width: 28px;
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(250, 167, 136);
    transition: all 0.5s;
    z-index: 1;
}

.menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-toggle span:nth-child(2) {
    transform-origin: left;
}

.menu-toggle span:last-child {
    transform-origin: left;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -2px);
    background-color: blueviolet;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:last-child {
    transform: rotate(-45deg) translate(0px, 0px);
    background-color: blueviolet;
}






/* RESPONSIVE BREAKPOINS */
/* Mobile */
@media screen and (max-width:576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-template-rows: 75px 320px 1fr 55px;
        grid-template-areas: 'nav nav'
            'konten konten'
            'imgkonten medsos'
            'menu menu';
        width: 100%;
        height: 100vh;
        /* border: 2px solid #000; */
        margin: auto;
    }

    /* navbar */
    .nav {
        padding: 0 20px;
        box-sizing: border-box;
    }

    /* Menu Toggle */
    .menu-toggle {
        display: flex;
    }

    .container .nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.877);
        margin: auto;
        width: 100%;
        height: 100vh;
        top: -100px;
        justify-content: center;
        transition: all 0.5s;
        transform: translateY(-100%);
        z-index: 1;
    }

    .container .nav ul.slide {
        transform: translateY(0);
    }

    .container .nav ul li {
        margin: 30px 0;
    }

    /* konten */
    .konten {
        grid-area: konten;
        justify-content: flex-end;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .konten h2 {
        font-size: 2.5em;
    }

    .konten p {
        font-size: 1em;
    }

    .konten a {
        padding: 8px 30px;
    }


    /* gambar konten */
    .imgkonten {
        grid-area: imgkonten;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .imgkonten img {
        width: 430px;
        height: auto;
    }


    /* media sosial */
    .medsos {
        grid-area: medsos;
        justify-content: space-between;
        align-items: flex-start;
    }

    .medsos ul li {
        margin: 30px 0;
        filter: invert(0);
    }

    .medsos ul li a img {
        width: 20px;
    }


    /* pilihan menu */
    .menu {
        grid-area: menu;
    }

    .menu ul {
        display: flex;
    }

    /* Circle */
    .circle {
        position: absolute;
        background-color: #017143;
        clip-path: circle(600px at center 880px);
        top: 50%;
    }
}