* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
}

.container nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
}

.container nav ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    position: relative;
}

.container nav ul li {}

.container nav ul li a {
    position: relative;
    height: 20px;
    display: block;
    text-decoration: none;
    color: rgb(250, 167, 136);
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
}

.container nav ul li a span {
    display: block;
    widows: 100%;
    height: 100%;
    transition: 0.5s;
    color: rgb(250, 167, 136);
}

.container nav ul li a span:nth-child(1) {
    color: rgb(250, 167, 136);
}

.container nav ul li a span:nth-child(2) {
    color: blueviolet;
}

.container nav ul li:hover a span:nth-child(1) {
    transform: translateY(-100%);
}

.container nav ul li:hover a span:nth-child(2) {
    transform: translateY(-100%);
}

/* Menu Toggle */
.menu-toggle {
    width: 28px;
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(250, 167, 136);
    transition: all 0.5s;
    z-index: 1;
}

.menu-toggle input {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-toggle span:nth-child(2) {
    transform-origin: left;
}

.menu-toggle span:last-child {
    transform-origin: left;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -2px);
    background-color: blueviolet;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:last-child {
    transform: rotate(-45deg) translate(0px, 0px);
    background-color: blueviolet;
}

/* Konten */
.konten {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.konten .kata {
    position: relative;
    max-width: 600px;
}

.konten .kata h2 {
    font-size: 3em;
    line-height: 1.2em;
    color: #333;
    font-weight: 500;
}

.konten .kata h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 800;
}

.konten .kata p {
    color: #333;
}

.konten .kata a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #017143;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}

.konten .gambar {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.konten .gambar img {
    max-width: 450px;
}

.img {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.img li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.img li:hover {
    transform: translateY(-15px);
}

.img li img {
    width: 60px;
    height: auto;
}

.medsos li img {
    max-width: 25px;
}

.medsos li:nth-child(2) img {
    max-width: 2em;
}

.medsos {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medsos li {
    list-style: none;
    margin: 5px 0;
    transform: scale(0.7);
    filter: invert(0);
}

.cirkel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    left: 0;
    top: 0;
    clip-path: circle(550px at right 700px);
}

/* Responsive */
/* Tampilan di 835px */
@media screen and (max-width:835px) {
    .container nav {
        padding: 15px 40px;
    }

    .container nav ul {
        width: 70%;
    }

    .container {
        padding: 70px;
        box-sizing: border-box;
    }

    /* Konten */
    .konten {
        top: -300px;
    }

    .konten .kata h2 {
        font-size: 2em;
        line-height: 1.1em;
        font-weight: 500;
    }

    .konten .kata h2 span {
        font-size: 1.1em;
        font-weight: 700;
    }

    .konten .kata p {
        font-size: 0.8em;
    }

    .konten .gambar img {
        max-width: 350px;
    }

    /* Gambar Menu */
    .img {
        left: 50%;
        top: 38%;
    }

    .img li {
        margin: 0 5px;
    }

    .img li img {
        width: 50px;
    }

    .medsos {
        top: 22%;
        right: 20px;
    }

    .cirkel {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: burlywood;
        left: 0;
        top: 0;
        clip-path: circle(500px at right 600px);
    }

}

/* Tampilan di 576px */
@media screen and (max-width:576px) {
    .logo {
        z-index: 1;
    }

    .container nav {
        padding: 15px 30px;
    }

    .container nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.877);
        width: 100%;
        height: 550px;
        top: 0;
        justify-content: space-evenly;
        transition: all 0.5s;
        transform: translateY(-100%);
        z-index: 1;
    }


    .container nav ul.slide {
        transform: translateY(0);
    }

    /* Menu Toggle */
    .menu-toggle {
        display: flex;
    }

    /* Konten */
    .konten {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        top: -120px;
    }

    .konten .kata {
        position: relative;
        max-width: 600px;
    }

    .konten .kata h2 {
        font-size: 2em;
        line-height: 1.1em;
        color: #333;
        font-weight: 500;
    }

    .konten .kata h2 span {
        color: #017143;
        font-size: 1.1em;
        font-weight: 800;
    }

    .konten .kata p {
        color: #333;
    }

    .konten .kata a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #32cc8c;
        border-radius: 40px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        margin-top: 20px;
    }

    .konten .gambar {
        margin-top: 70px;
        width: 500px;
        display: flex;
        justify-content: center;
        /* background-color: burlywood; */
    }

    .konten .gambar img {
        max-width: 450px;
    }


}

/* Tampilan di 414px */
@media screen and (max-width:414px) {
    .container nav ul {
        height: 450px;
    }

    .container {
        padding: 20px 40px;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    /* Konten */
    .konten {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        top: 30px;
    }

    .konten .kata {
        position: relative;
        max-width: 600px;
        /* background-color: rgb(128, 124, 119); */
    }

    .konten .kata h2 {
        font-size: 1.5em;
        line-height: 1.1em;
        color: #333;
        font-weight: 500;
    }

    .konten .kata h2 span {
        color: #017143;
        font-size: 1.1em;
        font-weight: 800;
    }

    .konten .kata p {
        color: #333;
        font-size: 0.7em;
    }

    .konten .kata a {
        display: inline-block;
        padding: 7px 30px;
        background-color: #32cc8c;
        border-radius: 40px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .konten .gambar {
        width: 350px;
        display: flex;
        justify-content: center;
        /* background-color: burlywood; */
    }

    .konten .gambar img {
        max-width: 350px;
    }

    /* Gambar Menu */
    .img {
        position: absolute;
        left: 50%;
        top: 38%;
        transform: translateX(-50%);
        display: flex;
    }

    .img li {
        list-style: none;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
        transition: all 0.5s;
    }

    .img li:hover {
        transform: translateY(-15px);
    }

    .img li img {
        width: 40px;
        height: auto;
    }

    .medsos li img {
        max-width: 25px;
    }

    .medsos li:nth-child(2) img {
        max-width: 2em;
    }

    .medsos {
        position: absolute;
        top: 60%;
        right: 5px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .medsos li {
        list-style: none;
        margin: 7px 10px;
        transform: scale(0.7);
        filter: invert(0);
    }

    .cirkel {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: burlywood;
        left: 0;
        top: 0;
        clip-path: circle(350px at center 800px);
    }
}

/* Ukuran 375px */
@media screen and (max-width:376px) {
    .konten {
        top: 35px;
    }

    /* Gambar Menu */
    .img {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        display: flex;
    }

    .konten .gambar {
        margin-top: 40px;
        width: 330px;
        display: flex;
        justify-content: center;
        /* background-color: burlywood; */
    }

    .konten .gambar img {
        max-width: 300px;
        margin-top: 40px;
    }

    .cirkel {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: burlywood;
        left: 0;
        top: 0;
        clip-path: circle(350px at center 800px);
    }

    .medsos li img {
        max-width: 25px;
    }

    .medsos li:nth-child(2) img {
        max-width: 2em;
    }

    .medsos {
        position: absolute;
        top: 60%;
        right: 5px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .medsos li {
        list-style: none;
        margin: 5px 10px;
        transform: scale(0.7);
        filter: invert(0);
    }
}